services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: planet_db
      POSTGRES_USER: planet_user
      POSTGRES_PASSWORD: secure_password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    depends_on:
      - db
      - redis

  celery:
    build: .
    command: celery -A your_project_name worker --loglevel=info
    depends_on:
      - db
      - redis

    adminer:
      image: adminer
      ports:
        - "8080:8080"
      depends_on:
        - db
